<div class="products__container">

    <h2 class="products__container__h2">Categorías</h2>

    <app-categories-wrap></app-categories-wrap>

    <h2 class="products__container__h2">Lo más vendido 🔥</h2>

    <app-glide-carousel [products]="products"></app-glide-carousel>

    <div *ngIf="products != undefined; else loadingProducts">

        <h4 class="products__container__h2">
            <span>
                {{searchText}}
            </span>
        </h4>

        <app-productcard [products]="products" class="product__card__container"></app-productcard>


    </div>

    <ng-template #loadingProducts>
        <div class="loading">
            <img class="loading__image" src="../../../assets/gifs/loading.gif" alt="cargando...">
            <span class="loading__text">Cargando...</span>
        </div>
    </ng-template>

</div>