<app-banner [tittle]="bannerTittle" [bannerMsj]="bannerText">
</app-banner>

<div class="section__center">
    <section class="about__section">
        <div class="about__section__chunk">
            <h2>Nuestro negocio</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat perferendis aliquid accusamus nemo,
                sed quia
                mollitia ut id esse consequatur itaque maxime natus distinctio voluptate libero officia officiis ipsum
                cupiditate
                error molestias voluptatem! Aut maxime distinctio, est quasi fuga blanditiis suscipit deserunt voluptas
                a illum quibusdam
                tenetur aspernatur accusantium. Vitae delectus, illum velit laborum sit suscipit numquam tempore omnis?
                Ex.
            </p>
            <div class="about__section__chunk__img">
                <img src="https://images.unsplash.com/photo-1528698827591-e19ccd7bc23d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80" alt="Imagen de abarrotes Topacio">
                <hr>
                <p>Foto de mini super topacio.</p>
            </div>
        </div>
    </section>
</div>