<footer class="footer__component">
    <div class="footer__col__boxes">
        <div class="brand">
            <h3>Minisuper Topacio</h3>
            <hr class="underline">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, dolorem sint tempore unde totam
                possimus
                ducimus reprehenderit architecto dignissimos et.
            </p>
            <h3>Contacto</h3>
            <hr class="underline">
            <ul>
                <li> <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Telefono</a></li>
                <li> <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Correo</a> </li>
                <li> <a href="#"> <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
            </ul>
        </div>
        <div class="links">
            <h3>Links rapidos</h3>
            <hr class="underline">
            <ul>
                <li> <a routerLink="/" routerLinkActive="active">Inicio</a></li>
                <li> <a routerLink="/products" routerLinkActive="active">Productos</a> </li>
                <li> <a routerLink="/breakfasts" routerLinkActive="active">Desayunos</a></li>
                <li> <a routerLink="/services" routerLinkActive="active">Servicios</a></li>
                <li> <a routerLink="/about" routerLinkActive="active">Nosotros</a> </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="footer__rights">
        <p>
            &copy; {{this.year}} Minisuper Topacio. Todos los derechos reservados.
        </p>
    </div>
</footer>