<div *ngFor="let product of products; let i = index">

    <div class="product__card">
        <div class="product__card__image">
            <div *ngIf="product.Image; else elseBlock">
                <img src="{{this.url}}products/getImage/{{product.Image}}" alt="{{product.Name}}">
            </div>
            <ng-template #elseBlock>
                <img src="../../../assets/images/nopicture/nopicture.svg" alt="Este articulo no tiene imagen">
            </ng-template>

        </div>
        <div class="product__card__content">
            <div class="product__card__name">
                <p>{{product.Name}}</p>
            </div>
            <div class="product__card__price">
                <span>${{product.Price}}.00</span>
            </div>
            <div class="product__card__description">
                <p>{{product.Description}}</p>
            </div>
        </div>

        <div class="product__card__button">
            <button>Agregar al carrito</button>
        </div>
    </div>


</div>