<section id="covid__msj" class="covid__banner">
    <div class="covid__banner__content">
        <div class="covid__banner__tittle">
            <h3>AVISO</h3>
            <div class="covid__banner__icon" (click)="hola()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <p>
            Debido a la pandemia ocasionada por el virus SARS-CoV-2 (Coronavirus), en nuestro negocio se está realizando el 
            cumplimiento de las normas de sanidad establecidas por el gobierno de México con el fin de protegerlo a usted y a su 
            familia. Gracias por apoyarnos en esta labor tan importante. 
        </p>
        <a href="https://coronavirus.gob.mx/covid-19/" target="_blank">Saber más</a>
    </div>
</section>