   <div *ngFor="let product of products; let i = index">

        <div class="products__admin">


            <div class="products__admin__card">
                <div class="products__admin__img">
                    <img src="{{product.Image}}" alt="random">
                </div>
                <div class="products__admin__name">
                    <span class="adm_n">{{product.Name}}</span>
                    <span>{{product.Description}}</span>
                </div>
            </div>
            <div class="products__admin__buttons">
                <button class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>


        </div>


    </div>