   <div *ngFor="let product of products; let i = index">

        <div class="products__admin">


            <div class="products__admin__card">
                <div class="products__admin__img">

                    <div *ngIf="product.Image != null; else noimage">
                        <img src="{{this.url}}products/getImage/{{product.Image}}" alt="{{product.Name}}">
                    </div>

                    <ng-template #noimage>
                        <img src="../../../assets/images/nopicture/nopictureadm.svg" alt="No hay imagen">
                    </ng-template>
                    
                </div>
                <div class="products__admin__name">
                    <span class="adm_n">{{product.Name}}</span>
                    <span class="adm_d">{{product.Description}}</span>
                </div>
            </div>
            <div class="products__admin__buttons">
                <button class="edit" (click)="updateProduct(product)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="delete" (click)="deleteProduct(product)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>


        </div>


    </div>