<app-banner 
    [tittle]="bannerTittle" [bannerMsj]="bannerText"
>
</app-banner>
<div class="breakfasts">
    <div class="breakfasts__head">
        <div class="tittle">
            <h2>MENÚ</h2>
            <p>Lo que servimos.</p>
        </div>
        <div class="description">
            <p>
                Disfruta de un desayuno delicioso, todas nuestros desayunos son preparados en el momento. Revisa el
                menú y pide  lo que más guste.
            </p>
        </div>
    </div>

    <div class="breakfasts__food">
        <h3>Tacos al vapor</h3>
        <hr>
        <div class="breakfasts__food__list">
            <app-desertitem></app-desertitem>
            <app-desertitem></app-desertitem>
            <app-desertitem></app-desertitem>
            <app-desertitem></app-desertitem>
        </div>

    </div>

    <div class="breakfasts__food">
        <h3>Chilaquiles</h3>
        <hr>
        <div class="breakfasts__food__list">
            <app-desertitem></app-desertitem>
        </div>
    </div>

    <div class="breakfasts__food">
        <h3>Lonches</h3>
        <hr>
        <div class="breakfasts__food__list">
            <app-desertitem></app-desertitem>
            <app-desertitem></app-desertitem>
            <app-desertitem></app-desertitem>
            <app-desertitem></app-desertitem>
            <app-desertitem></app-desertitem>
        </div>
    </div>

    <div class="breakfasts__food">
        <h3>Burritas</h3>
        <hr>
        <div class="breakfasts__food__list">
            <app-desertitem></app-desertitem>
            <app-desertitem></app-desertitem>
            <app-desertitem></app-desertitem>
            <app-desertitem></app-desertitem>
        </div>
    </div>

</div>