<section class="mobile-adm-section">
   <ul class="mobile-admin-buttons">
        <li class="adm-btn-el"><button (click)="BtnShowUsers()"><i class="fa fa-users" aria-hidden="true"></i></button></li>
        <li class="adm-btn-el"><button (click)="BtnShowProductsOptions()"><i class="fa fa-archive" aria-hidden="true"></i></button></li>
        <li class="adm-btn-el"><button><i class="fa fa-ticket" aria-hidden="true"></i></button></li>

        <div *ngIf="this.showProductOptions == true" id="floating-btns">
            <span class="adm-btn-el animate__animated animate__fadeInDown">
                <button  class="btn-view" (click)="BtnShowProducts()"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button class="btn-add" (click)="BtnAddProducts()"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </span>
        </div>

    </ul>
</section>

