<section class="unexistspage__err__container">

    <div class="unexistspage__err__container__info">
        <img class="unexistspage__err__container__info__img" src="../../../assets/images/icons/082-shopping-bag-5.svg" alt="Icono compras">
        <p class="unexistspage__err__container__info__p">La página solicitada no existe en el servidor.</p>
        <p class="unexistspage__err__container__info__ps">Enlaces de la página.</p>
        <ol class="unexistspage__err__container__info__ol">
            <li class="unexistspage__err__container__info__li">
                <a class="unexistspage__err__container__info__a" routerLink="/"
                routerLinkActive="active">Inicio</a>
            </li>
            <li class="unexistspage__err__container__info__li">
                <a class="unexistspage__err__container__info__a" routerLink="/products"
                routerLinkActive="active">Tienda</a>
            </li>
            <li class="unexistspage__err__container__info__li">
                <a class="unexistspage__err__container__info__a" routerLink="/breakfasts"
                routerLinkActive="active">Desayunos</a>
            </li>
            <li class="unexistspage__err__container__info__li">
                <a class="unexistspage__err__container__info__a" routerLink="/services"
                routerLinkActive="active">Servicios</a>
            </li>
        </ol>
    </div>

</section>