<div class="s__card">

    <div class="s__card__f-node">
        <img src="{{this.url}}products/getImage/{{products.Image}}" alt="imagen de ejemplo">

        <div class="s__card__info">
            <p>{{products.Name}}</p>
            <p>{{priceOfItem | currency:'MXN' }}</p>
        </div>

    </div>

    <div class="s__card__s-node">

        <div class="s__card__quantitysel">
            <span class="s__card__msj">
                {{msjStock}}
            </span>
            
            <div style="margin: auto; border: 1px solid; border-radius: 4px; display: flex;">
                <span class="s__card__quantitysel__interactive" (click)="decreaseItm()"><i class="fa fa-chevron-down"
                        aria-hidden="true"></i></span>
                <span class="s__card__quantitysel__val">{{numberOfItems}}</span>
                <span class="s__card__quantitysel__interactive" (click)="increaseItm()"><i class="fa fa-chevron-up"
                        aria-hidden="true"></i></span>
            </div>
            <div class="s__card__sub">
                <span class="s__card__sub__price">{{priceTemporal | currency:'MXN'}}</span>
            </div>
        </div>
    
        <div class="s__card__delbtn" (click)="deleteItem(products.ID)">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>

    </div>


</div>