<section class="cat__wrap">
    <div class="cat__wrap__element" (click)="searchCategory(1)">
        <img src="../../../assets/images/icons/categories/basicos.png" alt="productos básicos">
        <span>Despensa básica</span>
    </div>
    <div class="cat__wrap__element" (click)="searchCategory(3)">
        <img src="../../../assets/images/icons/categories/limpieza.png" alt="Higienicos y limpieza">
        <span>Higienicos y limpieza</span>
    </div>
    <div class="cat__wrap__element" (click)="searchCategory(9)">
        <img src="../../../assets/images/icons/categories/cuidadopersonal.png" alt="Cuidado y belleza personal">
        <span>Cuidado y belleza personal</span>
    </div>
    <div class="cat__wrap__element" (click)="searchCategory(4)">
        <img src="../../../assets/images/icons/categories/bebidas.png" alt="Jugos y bebidas">
        <span>Jugos y bebidas</span>
    </div>
    <div class="cat__wrap__element" (click)="searchCategory(2)">
        <img src="../../../assets/images/icons/categories/medicamento.png" alt="Médicamentos">
        <span>Médicamentos</span>
    </div>
    <div class="cat__wrap__element" (click)="searchCategory(5)">
        <img src="../../../assets/images/icons/categories/lacteos.png" alt="Carnes frías y lacteos">
        <span>Carnes frías y lacteos</span>
    </div>
    <div class="cat__wrap__element" (click)="searchCategory(6)">
        <img src="../../../assets/images/icons/categories/mascotas.png" alt="Mascotas">
        <span>Mascotas</span>
    </div>
    <div class="cat__wrap__element" (click)="searchCategory(8)">
        <img src="../../../assets/images/icons/categories/cerveza.png" alt="Vinos, cervezas y licores">
        <span>Vinos, cervezas y licores</span>
    </div>
</section>