<div class="s__car__container">

    <div class="s__car__container__main">
        <div class="s__car__container__header">
            <p>Carrito de compras</p>
        </div>

        <div *ngIf="ShoppingCartItems != null ; else noProductsTag" class="s__car__container__products">
            <div class="s__car__container__card">
                <div *ngFor="let item of ShoppingCartItems; let i = index">
                    <app-shoppingcard 
                    [products]="item"
                    (reloadComponent)="getProductsFromDB()"
                    >
                    </app-shoppingcard>
                </div>
            </div>
        </div>

        <ng-template #noProductsTag>
            <div class="s__car__container__noItems-car">
               <img src="../../../assets/images/icons/085-shopping-cart-5.svg" alt="Carrito de compras">
               <p>No hay elementos en su carrito.</p>
            </div>
        </ng-template>

    </div>

    <div *ngIf="ShoppingCartItems != null">
        <app-carinfo [products]="ShoppingCartItems"></app-carinfo>
    </div>
    
    

</div>