<div class="s__car__container">

    <div class="s__car__container__main">
        <div class="s__car__container__header">
            <p>Carrito de compras</p>
        </div>
        <div class="s__car__container__products">
            <div class="s__car__container__card">
                <app-shoppingcard></app-shoppingcard>
                <app-shoppingcard></app-shoppingcard>
                <app-shoppingcard></app-shoppingcard>
            </div>
        </div>
    </div>

    <aside class="s__car__container__info">
        <div id="subtotal" class="s__car__container__details">
            <span>x articulos</span>
            <span class="s_price">$500</span>
        </div>
        <div id="ship-price" class="s__car__container__details">
            <span>Envío</span>
            <span class="s_price">$50</span>
        </div>
        <div id="iva-price" class="s__car__container__details">
            <span>Total (IVA incluido)</span>
            <span class="s_price">$550</span>
        </div>
        <button>Pagar</button>
    </aside>

</div>