<div class="s__car__container">

    <div class="s__car__container__main">
        <div class="s__car__container__header">
            <p>Carrito de compras</p>
        </div>
        <div class="s__car__container__products">
            <div class="s__car__container__card">
                <div *ngFor="let item of items">
                    <app-shoppingcard 
                    (increasePrice)="increasePrice($event)"
                    (decrementPrice)="decreasePrice($event)"
                    [ejemplo]="item">
                    </app-shoppingcard>
                </div>
            </div>
        </div>
    </div>

    <app-carinfo [totalPrice]="totalPrice" [totalItems]="numberOfItems"></app-carinfo>

</div>