<div class="carousel">

    <div class="carousel__container">

        <button aria-label="Previous" class="carousel__prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>


        <div class="carousel__list">
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/cocacola.png" alt="logo cocacola">
                <span>Coca-Cola</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/pepsico.png" alt="logo pepsico">
                <span>Pepsico</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/sellorojo.png" alt="logo sello rojo">
                <span>Sello Rojo</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/bimbo.png" alt="logo bimbo">
                <span>Bimbo</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/marinela.png" alt="logo marinela">
                <span>Marinela</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/sigma.png" alt="logo sigma">
                <span>Sigma</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/barcel.png" alt="logo barcel">
                <span>Barcel</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/santaclara.png" alt="logo Santa Clara">
                <span>Santa Clara</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/peñafiel.png" alt="logo peñafiel">
                <span>Peñafiel</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/lala.png" alt="logo lala">
                <span>Lala</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/pedigree.png" alt="logo pedigree">
                <span>Pedigree</span>
            </div>
            <div class="carousel__element">
                <img src="../.../../../../assets/images/logos/nestle-min.png" alt="logo Nestlé">
                <span>Nestlé</span>
            </div>
        </div>

        <button aria-label="Next" class="carousel__next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>

    </div>

    <div role="tablist" class="carousel__flags"></div>

</div>