<div class="add__product">

    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit(addProductForm.value)" class="login__form">
        <label for="id-product">ID</label>
        <input type="number" placeholder="Ingresa el ID del producto" formControlName="id" class="login__input">
        <label for="stock-product">Stock</label>
        <input type="number" placeholder="Ingresa el stock del producto" formControlName="stock" class="login__input">
        <label for="name-product">Nombre</label>
        <input type="text" placeholder="Ingresa el nombre del producto" formControlName="name" class="login__input">
        <label for="price-product">Precio</label>
        <input type="number" placeholder="Ingresa el precio del producto" formControlName="price" class="login__input">
        <label for="description-product">Descripción</label>
        <textarea formControlName="description" placeholder="Ingresa una descripción del producto" cols="30" rows="3" class="login__input txt-ar"></textarea>
        <label for="Category">Categoría</label>
        <select name="Category"s formControlName="fk_category" class="login__input">
            <option value="1">Despensa básica</option>
            <option value="2">Medicamentos</option>
            <option value="9">Cuidado personal y bellza</option>
            <option value="3">Higiénicos y limpieza</option>
            <option value="4">Jugos y bebidas</option>
            <option value="5">Carnes frías y lácteos</option>
            <option value="6">Mascotas</option>
            <option value="7">Jueguetes</option>
            <option value="8">Vinos, cervezas y licores</option>
        </select>

        <label for="image">Imágen</label>
        <angular-file-uploader
            [config]="afuConfig"
            [resetUpload]=resetVar
            (ApiResponse)="DocUpload($event)">
        </angular-file-uploader>

        <button type="submit" [disabled]="addProductForm.invalid">Agregar producto</button>
    </form>

</div>